/*contact*/

.contact{
	background: #343332;
	color: #fff;
}
.contact p{
	font-size: 1.3em;
}
.contact .nro{
	font-size: 1.8em;
}
.icon-contact{
	width: 60px;
	height: 60px;
	padding: 2%;
	font-size: 2em;
	border: 2px solid #f53880;
	color: #f53880;
	border-radius: 100%;
	display: inline-block;
	margin-right:2%;
	text-align: center;
}
.contact a:hover{
	text-decoration: none;
}

.icon-contact:hover{
	color: #f86da2;
	transition: 2s;
}
.formulario{
	background: #343332 !important;
	color: #fff !important;
}
footer{
	background: #1B1918;
	color: #fff;
	text-align: center;
	padding: 1%;
}
.name-footer{
	text-transform: uppercase;
	color: #f53880;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
@media(max-width: 768px){
	.contact{
		text-align: center;
	}
	.icon-contact{
		font-size: 1.5em;
	}
	.contact .nro{
		font-size: 1.2em;
	}
}
@media(min-width: 768px){
	.contact{
		padding-left: 10%;
	}
}

.btn{
	background-color: #f53880;
	color: white;
	width: 100%;
}