@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);body,html{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
.equipos,
.equipos a{
	text-align: center;
	color: #76767A;
}
hr{
	width: 40px;
	border: 2px solid #f53880;
	margin-top: 0px;
}
.equipos h2{
	color: #1B0F0A;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 800;
}
.img-equipo{
	width: 100%;
	border-radius: 100%;
}
.img-equipo img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.name-equipo{
	color:  #f53880;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 600;
	margin-top: 5px;
}
.icon-equipo i{
	padding: 10px;
	border: 2px solid;
	border-radius: 100%;
}
.call-to-action{
	width: 100%;
	height: 50%;
	background: url("../images/registro.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #fff;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
.bg-dark{
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
}
.call-to-action h2{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.registro-equipo{
	background: #f53880;
	border-radius: 5px;
	padding: 1%;
	color: #fff;
	margin-top: 3%;
	display: inline-block;
	font-size: 20px;
}
.registro-equipo:hover{
	text-decoration: none;
	color: #fff;
	transition: 1s;
	padding: 1.4% 2%;
}
.contact{
	background: #343332;
	color: #fff;
}
.contact p{
	font-size: 1.3em;
}
.contact .nro{
	font-size: 1.8em;
}
.icon-contact{
	width: 60px;
	height: 60px;
	padding: 2%;
	font-size: 2em;
	border: 2px solid #f53880;
	color: #f53880;
	border-radius: 100%;
	display: inline-block;
	margin-right:2%;
	text-align: center;
}
.contact a:hover{
	text-decoration: none;
}
.icon-contact:hover{
	color: #f86da2;
	transition: 2s;
}
.formulario{
	background: #343332 !important;
	color: #fff !important;
}
footer{
	background: #1B1918;
	color: #fff;
	text-align: center;
	padding: 1%;
}
.name-footer{
	text-transform: uppercase;
	color: #f53880;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
@media(max-width: 768px){
	.contact{
		text-align: center;
	}
	.icon-contact{
		font-size: 1.5em;
	}
	.contact .nro{
		font-size: 1.2em;
	}
}
@media(min-width: 768px){
	.contact{
		padding-left: 10%;
	}
}