@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans",arial;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: none;
	color: #fff;
}
.word-one{
	font-family: "Yanone Kaffeesatz";
}
.word-two{
	font-family: SantElia;
}
.font-white{
	color: #fff;
}
.font-dark{
	color: #1C1C1C;
}
.font-gray{
	color: #424242;
}
.font-pink{
	color: #fe106a;
}
.bg-pink{
	background-color: #fe106a;
}
.pd-4{
	padding: 4%;
}
.pd-tb-5{
	padding: 5% 0;
}
.pd-tb-4{
	padding: 4% 0;
}
.pd-2{
	padding: 2% 0;
}
.mg-0{
	margin: 0;
}
.mg-b-0{
	margin-bottom: 0;
}
.navbar{
	height: 80px;
	margin: 0;
	z-index: 90;
}
.bg-dark{
	background-color: rgba(0, 0, 0, 0.8);
}
.navbar-brand {
  width: 100px;
  padding-top: 4%;
  padding-bottom: 4%;
  height: 80px;
  padding: 5px 5px;
}
.navbar-brand .brand{
  width: 150%;
}
.navbar .navbar-toggle .icon-bar {
  	background: #fe106a;
}
.navbar-toggle{
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar-brand{
	height: 80px;
}
.navbar-nav > li > a {
	margin-top: 20px;
}
.navbar-collapse {
 background-color: transparent;
}
.nav-pills{
	float: right;
}
.navbar a{
	color: #fff;
	font-family: "Open Sans",arial;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
	color: #fe106a;
}
.add{
	padding: 10px;
    background-color: #fe106a;
    border-radius: 6px;
}
.add:hover{
	color: #fff!important;
	background-color: #fe518b!important;
}
@media (min-width: 768px){
.navbar-nav>li>a {
	padding-top: 10px; 
    padding-bottom: 10px;
}
}
@media (max-width: 768px){ 
	.navbar{
	height: 40px;
	z-index: 100;
}
	.navbar-brand {
 	width: 100px;
  	padding-top: 4%;
  	padding-bottom: 4%;
  	height: 40px;
  	padding: 5px 5px;
}
	.navbar-brand .brand{
  	width: 100%;
}
	.navbar-toggle{
  	margin-top: 10px;
  	margin-bottom: 5px;
}
	.navbar-nav li{
		display: block;
	}
	.navbar-nav > li > a {
  	padding-top: 5px;
  	padding-bottom: 10px;
  	line-height: 20px;
  	font-size: 1em;
  	background-color: transparent;
  	font-family: "Open Sans",arial;
}
	.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
	color: #f36;
}
	.navbar-collapse {
 	background-color: rgba(0, 0, 0, 0.8);
}
	.nav-pills a{
	background: none;
	display: block !important;
}
.add{
	padding: 10px;
    background-color: #f36;
    border-radius: 6px;
}
}
#full-image{
	background-image: url("../images/campeonato1.jpg");
	background-position: top;
	background-size: cover;	
	height: 100%;
}
.dark-full-image{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.interior{		
	text-align: center;
	padding: 4% 4% 3%;
}
h2{
	font-size: 3.5em;
}
@media (min-width: 768px){
a.add {
	padding-top: 10px; 
    padding-bottom: 10px;
}
}
/**nosotras**/
.about{
	font-size: 2em;
	letter-spacing: 1px;
}
/**como?**/
/**equipos**/
.subtitle{
	font-size: 3em;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
hr{
	width: 40px;
	border: 2px solid #f53880;
	margin-top: 1%;
}
.equipos,
.equipos a{
	text-align: center;
	color: #76767A;
}
.equipos h2{
	color: #1B0F0A;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 800;
}
.img-equipo{
	width: 100%;
	border-radius: 100%;
}
.img-equipo img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.name-equipo{
	color:  #f53880;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 600;
	margin-top: 5px;
}
.icon-equipo i{
	padding: 10px;
	border: 2px solid;
	border-radius: 100%;
}
.call-to-action{
	width: 100%;
	height: 50%;
	background: url("../images/registro.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #fff;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
.call-to-action h2{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.registro-equipo{
	background: #f53880;
	border-radius: 5px;
	padding: 1%;
	color: #fff;
	margin-top: 3%;
	display: inline-block;
	font-size: 20px;
}
.registro-equipo:hover{
	text-decoration: none;
	color: #fff;
	transition: 1s;
	padding: 1.4% 2%;
}
.contact{
	background: #343332;
	color: #fff;
}
.contact p{
	font-size: 1.3em;
}
.contact .nro{
	font-size: 1.8em;
}
.icon-contact{
	width: 60px;
	height: 60px;
	padding: 2%;
	font-size: 2em;
	border: 2px solid #f53880;
	color: #f53880;
	border-radius: 100%;
	display: inline-block;
	margin-right:2%;
	text-align: center;
}
.contact a:hover{
	text-decoration: none;
}
.icon-contact:hover{
	color: #f86da2;
	transition: 2s;
}
.formulario{
	background: #343332 !important;
	color: #fff !important;
}
footer{
	background: #1B1918;
	color: #fff;
	text-align: center;
	padding: 1%;
}
.name-footer{
	text-transform: uppercase;
	color: #f53880;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
@media(max-width: 768px){
	.contact{
		text-align: center;
	}
	.icon-contact{
		font-size: 1.5em;
	}
	.contact .nro{
		font-size: 1.2em;
	}
}
.pt-4{
	padding-top: 4%;
}