@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*****/
.mb-5{
	margin-bottom: 5%;
}
.mb-4{
	margin-bottom: 4%;
}
.btn-gray{
	margin-top: 7%;
	border-bottom: 5px solid #D8D8D8;
	width: 100%;
}
.btn-gray:hover{
  	margin-top: 7%;
  	border-bottom: 5px solid #f36;
  	cursor:pointer;
  	width: 100%;
}
h2{
	color: #1B0F0A;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 800;
}
h3{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #f36;
	font-weight: 800;
}
.description{
	text-align: left;
}
.equipos{
	text-align: center;
	/*color: #76767A;*/
}
hr{
	width: 40px;
	border: 2px solid #f36;
	margin-top: 0px;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.btn{
	background-color: #f36;
	color: white;
	width: 100%;
}
.btn-hover{
	color: #fff !important;
	background-color: #fe518b !important; 
	text-decoration: none;
}