@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);
@import url(https://fonts.googleapis.com/css?family=Mouse+Memoirs);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body,html{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.navbar-inverse {
    background-color: hsla(0, 4%, 6%, 0.65);
	border-color:  hsla(0, 0%, 0%, 0.3);
	padding-top: 13px;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.add{
	padding: 13px;
    background-color: #f53880;
    border-radius: 8px;
}
/*:in:*/

.bg-campeonato{
	background-image: url("../images/campeonato1.jpg");
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 8%;
}

.campeonato{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 6em;
	color: white;
	font-weight: 800;
	padding-top: 14%;
}

h3{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: black;
	text-align: center;
	font-weight: 800;
}

.mujeres{
	font-family: SantElia;
	color: #f53880;
	font-size: 7.5em;
	padding-bottom: 7%;
}

.btn_2{
	background-color: #f53880;
	color: white;
	width: 75%;
}

.circle_equipo{
	border-radius: 100%;
	height: 154px;
    width: 157px;
}

.bg-equipo{
	background-image: url("../images/equipo1.jpg");
	background-position: center;
    background-size: cover;
    border-radius: 100%;
    height: 168px;
}

.bg-equipovol1{
	background-image: url("../images/equipos_interna/team3_int.png");
	background-position: center;
    background-size: cover;
    border-radius: 100%;
    height: 168px;
}